body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    color: dimgrey;
}
section{
    margin-bottom: 100px;
}
.flexible-width{
    display: flex;
}
.width-fix{
    width: 50%;
}
.manu-item{
	width: 72%;
	font-size: 20px;
    padding-top: 23px;

}
li{
	margin-right: 50px;
	list-style: none;
}
.logo-item{
	width: 50%;
	margin-left: 40px;

}
.manu-area{
	background: url(images/shapes/Frame\ 58.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}
.width-fix img{
    width: 85%;
}
a{
    text-decoration: none;
}

h1{
    font-size: 37px;
}
.button-design{
    background: linear-gradient(orange, tomato);
    padding: 12px 30px;
    color: white;
    border-radius: 33px;
    font-size: 14px;
    box-shadow:1px 1px 15px grey;;       
}
.welcome-page{
    padding: 155px;
    box-sizing: border-box;
}
.button-color{
    color: orange;
}
p{
    margin-bottom: 50px;
}
.middle-area{
    background: url(images/shapes/middlebackground.png);
    background-repeat: no-repeat;
    height: 501px;
}
#middle-img{
    width: 54%;
    margin-top: 77px;
    margin-left: 256px;
}
h2{
    font-weight: 600;
    font-size: 36px;
}
.about-us{
    padding: 100px;
    box-sizing: border-box;
    margin-right: 50px;

}
.about-us-content{
    margin-bottom: 60px;
    color: black;
}
.recipies-name{
    text-align: center;
}
.recipies-name p{
    margin: 0 359px;
}
.recipies-fixable{
    width: 32%;
}
.recipies-fixable img{
    width: 100%;
}

.border-design{
    border: 14px solid white;
    box-shadow: 10px 10px 30px grey;
    margin: 30px;
    border-radius: 24px;
}
.follower-area{
    margin-left:50px;
    margin-right: 50px;
    border: 14px solid white;
    box-shadow: 10px 10px 30px grey;
    padding-left: 160px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-sizing: border-box;

}
.follower-area h2{
    margin-bottom: -25px;
}
footer{
    text-align: center;
    background-color: black;
    padding: 30px 0;
}
footer h3{
    font-size: 30px;
}

